initial_input
final_output

mask_and_lama_inpainting/archived_codes
mask_and_lama_inpainting/build
mask_and_lama_inpainting/descaled_image/
mask_and_lama_inpainting/input_mask/

BSRGAN/model_zoo/BSRGAN.pth
BSRGAN/model_zoo/BSRGANx2.pth
BSRGAN/testsets

.idea/
__pycache__/
env_m_i_u/